.example-card {
    max-width: 400px;
    padding: 20px;
}

.example-header-image {
    display: none;
}

.mdc-card__media {
    margin-top: 20px;
    margin-bottom: 20px;
}

.example-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdc-card__actions {
    justify-content: center;
}

button {
    margin-left: 20px;
}
