<app-card [product]="product[0]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[1]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[2]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[3]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[4]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[5]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[6]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[7]" (buy)="onProductBuy($event)"></app-card>
<app-card [product]="product[8]" (buy)="onProductBuy($event)"></app-card>
